body{
	background-color:#800000;
}
img {
	margin-top:-15px;
}
button{
	display:block;
	margin-top:25px;
	margin-left:25px;
	width:250px;
	height:50px;
	background-color:teal;
	color:white;
	font-size:16px;
}
button:hover{
	background-color:lime;
}

p.rotate{
	font-size:30px;
	color:white;
	margin-left:50px;
}


#menu{
	width:300px;
	height:98%;
	position: fixed;
	background-color:black;
	display:inline-block;
}

#home{
	width:80%;
	height:97%;
	margin-left:20%;
}

#funda{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#decla{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#sandA{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#color{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#dimcopart1{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#dimcopart2{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#dimcopart3{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}

#Prepr{
	width:0%;
	height:0px;
	margin-left:20%;
	display:block;
}
