body{
    margin: 0%;
}

section{
    text-align: center;
}

.selection{
    margin: 0%;
    padding: 2% 0%;
    font-family: consolas;
    font-size: 70px;
    color: #FFFFFF;
    background-color: #272727;
}

.languages{
  /*input attribute for the div languages*/
     align-items: center;	
	background-color: #FFFFFF;
}

.languages a div {
    height: 79.5vh;
    float: left;
	width: 33.3%;
	display: flex;
    justify-content: center;
    align-items: center;	
	background-color: #FFFFFF;
}

.PHP{
    height: 30%;
    width: 75%;
}

.PHP:hover{
    height: 40%;
    width: 95.5%;
    transition: 0.7s;
}

.JSP{
    height: 44%;
    width: 56.5%;
}

.JSP:hover{
    height: 58%;
    width: 71.5%;
    transition: 0.7s;
}

.NodeJS{
    height: 70%;
    width: 74%;
}

.NodeJS:hover{
    height: 86%;
    width: 93%;
    transition: 0.7s;
}

#PHP_Holder:hover{
    animation: PHPcolorchange 5s infinite ease-in-out;
}

#JSP_Holder:hover{
   animation: JSPcolorchange 5s infinite ease-in-out;
}

#NodeJS_Holder:hover{
    animation: NodeJScolorchange 5s infinite ease-in-out;
}

@keyframes PHPcolorchange
    {
      0%   {background: #272727;}
      25%  {background: #36E3C8;}
      50%  {background: #272727;}
      75%  {background: #36E3C8;}
      100% {background: #272727;}
    }

@keyframes JSPcolorchange
    {
      0%   {background: #272727;}
      25%  {background: #ECA52C;}
      50%  {background: #272727;}
      75%  {background: #ECA52C;}
      100% {background: #272727;}
    }

@keyframes NodeJScolorchange
    {
      0%   {background: #272727;}
      25%  {background: #9EE735;}
      50%  {background: #272727;}
      75%  {background: #9EE735;}
      100% {background: #272727;}
    }

