@import url('https://fonts.googleapis.com/css?family=Abel|Anton|Lobster|Nanum+Gothic');
@import url(https://fonts.googleapis.com/css?family=Merriweather);

html {
    position: relative;
    min-height: 100%;
}
* {
  box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none !important;
}
a{
	color: #002546;
	padding-left: 20px;
}

body {
  font-family: 'Merriweather', serif;
  padding: 20px;
  background: linear-gradient(#6693ba, #004b8d);
  margin: 0 0 100px;
  
    
}

.box {
  padding: 1em;
  border: none;
  display: block;
  width: 50%;
  height: 500px;
  float: left;
  margin: -150px 0 0 -1px;
  color: transparent;
  background: linear-gradient(
     #004b8d, #004b8d 50%, ##6693ba 50%, #004b8d
  );
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
}
.box h2 {
  font-weight: 400;
  letter-spacing: -1.5px;
  line-height: 0.5;
}
.box h3 {
  font: 1.1em "Lucida Grande", serif;

}

.box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease;
}
.box:hover h2 {
  color: #48ad26;
  background: linear-gradient(#1e3c72, #2a5298);


}
.box:hover h2 span {
  background: -webkit-linear-gradient(#96deda, #50c9c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box:hover h3 {
  color: #b2b2b2;
  background: -webkit-linear-gradient(white, #999999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;/*design*/

}

#content{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	background: linear-gradient(#6693ba, #004b8d);
  	color: white;
  	height: 50vh;
  	font-size: 55px;
  	margin-top: -50px;
  	margin-bottom: -50px;
  	line-height: 200px;
  	background: -webkit-linear-gradient(white, #666666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#content2{
	font-family: 'Lobster', sans-serif;
	text-align: center;
	background: linear-gradient(#6693ba, #004b8d);
  	color: white;
  	height: 50vh;
  	margin-bottom: -50px;
  	margin-top: -50px;
  	font-size: 55px;
  	line-height: 200px;
  		background: -webkit-linear-gradient(white, #b2b2b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  	
 }
@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}
#second{
	text-align: center;
	color: green;
	background-size: 100% 202%;
	font-size: 20px;
	margin-top: -150px;/*table of contents*/
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#third{
	text-align:left;

	color: white;
	background-size: 100% 202%;
	font-size: 20px;
	margin-left: -20px;
	margin-top: 0px;
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#fourth{
	text-align:justify;

}

footer {
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow:hidden;
    font-size: 12px;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}